:root {

    // ## Colors
    
    // ### Primary
    
    --color-Soft-orange: hsl(35, 77%, 62%);
    --color-Soft-red: hsl(5, 85%, 63%);
    
    // ### Neutral
    
    --color-Off-white: hsl(36, 100%, 99%);
    --color-Grayish-blue: hsl(233, 8%, 79%);
    --color-Dark-grayish-blue: hsl(236, 13%, 42%);
    --color-Very-dark-blue: hsl(240, 100%, 5%);
    
    }
    
    //font-family
    //  font-family: 'Inter', sans-serif;  
    $font-primary: 'Inter', sans-serif;
    
    $bp-largest: 90em; //1440px
    $bp-small: 23.44em; //375px
    
    * {
        margin: 0;
        padding: 0;
    }
    
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        border-radius: none;
    }
    
    html {
        font-size: 62.5%; // 10px/16px -> 62.5% 1rem=10px
        border-radius: inherit;

        @media only screen and (max-width: $bp-small) {
            font-size: 59%;
        }
    }
    
    body {   
        font-family: $font-primary;
        font-size: 1.5rem;        
        
    }
    
    .container {
        display: grid;
        grid-template-rows: 6rem 15vh 20vw repeat(2, min-content) 6rem;   
        grid-template-columns: 10rem [full-start] repeat(11, [col-start] minmax(min-content, 11rem) [col-end]) [full-end] 10rem;   
        
        // @media only screen and (max-width: $bp-largest) {
        // grid-template-rows: 6rem 15vh 20vw repeat(2, min-content) 6rem;   
        // grid-template-columns: 10rem [full-start] repeat(11, [col-start] minmax(min-content, 11rem) [col-end]) [full-end] 10rem;   
        // }

        // @media only screen and (max-width: $bp-small) {
        // grid-template-rows: 3rem 15vh 20vw repeat(2, min-content) 3rem;  
        // grid-template-columns: 2rem [full-start] repeat(11, [col-start] minmax(min-content, 11rem) [col-end]) [full-end] 2rem;   
        // }    

        @media only screen and (max-width: $bp-small) {
            grid-template-rows: min-content 70vh repeat(4, min-content); 
            grid-template-columns: 2rem [full-start] repeat(4, [col-start] minmax(min-content, 75rem) [col-end]) [full-end] 2rem; 
        }
    }